{% extends 'Base/base.html' %}
{% block wrapper %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Log in</title>



</head>
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    
		<h3 class="text-primary text-center">
			Estadisticas
		</h3>
		
		<div class="row">
			<div class="col-md-6">
			  <!-- Cantidad de atenciones realizadas -->
			  <div class="box box-primary">
				<div class="box-header with-border">
				  <h3 class="box-title">Cantidad de atenciones</h3>
				  
				  <!-- VERIFICAR COMO ES LA MEJOR FORMA DE ENVIAR LA INFORMACION, YO LO HICE ASI SOLO PARA PROBAR QUE FUNCIONABA -->
				  
				  <!-- AL PRESIONAR ESTE BOTON TRAE LA INFORMACION VARIAS VECES, VERIFICAR -->
				  <button type="button" onclick="getData()">Estadistica por año</button>
				  <select id="select-datos" onchange="mostrarResultadosAnual(this.value)" style='display:none;'></select>
				  
				  <!-- FALTAN LOS SELECT PARA EL MES Y EL DIA -->
				  
				  <button type="button" onclick="mostrarResultadosDiarias(2016, 03, 11)">POR DIA</button>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				  </div>
				</div>
				<div class="box-body chart-responsive">
				  <div class="chart" id="cant-atenciones" style="width: 300px; height: 400px;"></div>
				</div>
				<!-- /.box-body -->
			  </div>
			  <!-- /.box -->
			  
			  <label>DATOS</label></br>
			  <label>Total de atenciones: </label><p id="tot-atenciones"></p>

			</div>
			
      </div>
      <!-- /.row -->
		
	
  </div>
  
{% endblock %}

{% block javascript %}
<script> 
	
	//Función que rellena los datos del select, trae todos los años encontrados en la base de datos
	function getData()
	{
		//Método POST de ajax para mandar:
		//1.- El PHP donde se va a procesar todo que es proceso_cantatenciones.php
		//2.- El o los datos, en este caso no requerimos datos
		//3.- Luego se llama a una función una vez que se enviaron los datos y se obtuvo una respuesta
		$.post( "../controllers/proceso_cantatenciones.php", 0).done(function( data ) 
		{
			var data = $.parseJSON(data);
			console.log(data);
			
			$.each(data,function(key, registro) {
			$("#select-datos").append('<option value='+registro.anio+'>'+registro.anio+'</option>');
			}); 
		});
		
		document.getElementById('select-datos').style.display = 'block';
	}
	
	function mostrarResultadosAnual(anio)
	{
		//Método POST de ajax para mandar:
		//1.- El PHP donde se va a procesar todo que es proceso_cantatenciones.php
		//2.- El o los datos, en este caso el año seleccionado, aqui esa info se ve en {'anio': anio}
		//3.- Luego se llama a una función una vez que se enviaron los datos y se obtuvo una respuesta
		$.post( "../controllers/proceso_cantatenciones.php", {'anio': anio}).done(function( data ) 
		{
			var data = $.parseJSON(data);
			var total_atenciones = 0;
			//Información para manejar el Bar chart de FLOT js
			bar_chart_data=[];
		
			//Recorremos para asignar el mes, para calcular el total de atenciones en el año y para rellenar la info del Bar chart
			for(x=0; x<data.length; x++)
			{
				total_atenciones = total_atenciones + parseInt(data[x].numatenciones);
				
				//Sé que esto puede hacerse con un switch, pero la verdad lo probé y no agarra asi que hice esto, no me reten jajaj
				if(data[x].mes==1)
					data[x].mes = "Enero";
				else
					if (data[x].mes==2)
						data[x].mes = "Febrero";
					else
						if (data[x].mes==3)
							data[x].mes = "Marzo";
						else
							if (data[x].mes==4)
								data[x].mes = "Abril";
							else
								if (data[x].mes==5)
									data[x].mes = "Mayo";
								else
									if (data[x].mes==6)
										data[x].mes = "Junio";
									else
										if (data[x].mes==7)
											data[x].mes = "Julio";
										else
											if (data[x].mes==8)
												data[x].mes = "Agosto";
											else
												if (data[x].mes==9)
													data[x].mes = "Septiembre";
												else
													if (data[x].mes==10)
														data[x].mes = "Octubre";
													else 
														if (data[x].mes==11)
															data[x].mes = "Noviembre";
														else
															if (data[x].mes==12)
																data[x].mes = "Diciembre";
															else alert("Ocurrió un error");
															
				var mes= data[x].mes;
				var numatenciones= data[x].numatenciones;

				bar_chart_data[x]= [mes, numatenciones];
			}
			
			$("#tot-atenciones").text("El total de atenciones realizadas en el año "+anio+" es: "+total_atenciones);
			
			console.log("El total de atenciones realizadas en el año "+anio+" es:"+total_atenciones);
						  
			//Gráfico de barra de FLOT js
			var bar_data = 
			{
				data: bar_chart_data,
				color: "#3c8dbc"
			};
						
			$.plot("#cant-atenciones", [bar_data], 
			{
					grid: 
					{
						borderWidth: 1,
						borderColor: "#f3f3f3",
						tickColor: "#f3f3f3"
					},
					series: 
					{
						bars: 
							{
							  show: true,
							  barWidth: 0.5,
							  align: "center"
							}
					},
					xaxis: 
					{
						mode: "categories",
						tickLength: 0
					}
			});
		});
	}
	
	function mostrarResultadosDiarias(anio, mes, dia)
	{
		//Método POST de ajax para mandar:
		//1.- El PHP donde se va a procesar todo que es proceso_cantatenciones.php
		//2.- El o los datos, en este caso el año seleccionado, aqui esa info se ve en {'anio': anio}
		//3.- Luego se llama a una función una vez que se enviaron los datos y se obtuvo una respuesta
		$.post( "../controllers/proceso_cantatenciones.php", {'anio': anio, 'mes': mes, 'dia': dia}).done(function( data ) 
		{
			var data = $.parseJSON(data);
			console.log(data);
			console.log("La fecha es: "+data[0].fecha+" y las atenciones son: "+data[0].numatenciones);
			
			data[0].numatenciones = parseInt(data[0].numatenciones);
			
			$("#tot-atenciones").text("El total de atenciones realizadas en la fecha "+data[0].fecha+" es: "+data[0].numatenciones);
						  
			//Gráfico de barra de FLOT js
			var bar_data = 
			{
				data: [[data[0].fecha, data[0].numatenciones]],
				color: "#3c8dbc"
			};
						
			$.plot("#cant-atenciones", [bar_data], 
			{
					grid: 
					{
						borderWidth: 1,
						borderColor: "#f3f3f3",
						tickColor: "#f3f3f3"
					},
					series: 
					{
						bars: 
							{
							  show: true,
							  barWidth: 0.5,
							  align: "center"
							}
					},
					xaxis: 
					{
						mode: "categories",
						tickLength: 0
					}
			});
		});
	}
</script>
{% endblock %}