{% extends 'Base/base.html' %}
{% block title %}Inicio{% endblock %}
{% block wrapper %}
    <section class="content-header">
        <h1>
            Sistema de atenciones Mutual Fray Mamerto Esquiu
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Nueva Atención</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

<div class="box">
    <div class="box-header text-center">
      	<h1><span class="label label-info">Index</span></h1>
    </div>
	<div class="box-body">

    </div>    
</div>
{% endblock %}
