{% extends 'Base/base.html' %}
{% block wrapper %}
    <section class="content-header">
        <h1>
            Atenciones
            <small>Nueva Atención</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Nueva Atención</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

<div class="box">
    <div class="box-header">
      	<h3 class="box-title">Nueva atención</h3>
    </div>
    
    <div class="box-body">
      	<form action="../controllers/atenciones.php?funcion=generarAtencion" method="post">
			<fieldset><legend>Datos básicos</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="nombre">Nombre y apellido</label><br/>
						<input type="text" class="form-control" id="nombre" name="nombre" readonly value="{{ persona.nombre }}"/>
					</div>

					<div class="col-md-3 form-group">
						<label for="doc">Documento del asociado</label><br/>
						<input type="text" class="form-control" id="doc" name="doc" readonly value="{{ persona.doc }}"/>
					</div>

					<div class="col-md-3 form-group">
						<label for="doctit">Documento del titular</label><br/>
						<input type="text" class="form-control" id="doctit" name="doctit" readonly value="{{ persona.doctit }}"/>
					</div>

				</div>


				<div class="row">
					<div class="col-md-2 form-group">
						<label for="fecha">Fecha pedido</label><br/>
						<input type="text" class="form-control" id="fecha" name="fecha" readonly value="{{ persona.fecha['year'] }}-{{ persona.fecha['mon'] }}-{{ persona.fecha['mday'] }}"/>
					</div>
					
					<div class="col-md-2 form-group">
						<label for="hora">Hora pedido</label><br/>
						<input type="text" class="form-control" id="hora" name="hora" readonly value="{{ persona.fecha['hours'] }}:{{ persona.fecha['minutes'] }}"/>
					</div>

					<div class="col-md-2 form-group">
						<label for="sexo">Sexo</label><br/>
						<input type="text" class="form-control" id="sexo" name="sexo" readonly value="{% if persona.sexo == 1 %}Masculino{% else %}Femenino{% endif %}"/>
					</div>

					<div class="col-md-3 form-group">
						<label for="tel">telefono de contacto</label><br/>
						<input type="text" class="form-control" id="tel" name="tel" readonly value="FIJO: {% if persona.tel == null %}-{% endif %}{{ persona.tel }} // CEL: {% if persona.cel == null %}-{% endif %}{{ persona.cel }}"/>
					</div>

					<div class="col-md-3 form-group">
						<label for="nro">Numero de asociado</label><br/>
						<input type="text" class="form-control" id="nro" name="nro" readonly value="{{ persona.nro }}"/>
					</div>
				</div>
			</fieldset>
			
			<fieldset><legend>Domicilio</legend>
				<div class="col-md-6 form-group">
						<label for="dom">Domicilio</label>
						<input type="text" class="form-control" name="dom" id="dom" value="{{ persona.dom }}"/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="nrocasa">Numero de casa</label>
						<input type="text" class="form-control" name="nrocasa" id="nrocasa" value="{{ persona.nro_casa }}"/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="barrio">Barrio</label>
						<input type="text" class="form-control" name="barrio" id="barrio" value="{{ persona.barrio }}"/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="localidad">Localidad</label>
						<input type="text" class="form-control" name="localidad" id="localidad" value="{{ persona.localidad }}"/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="codpostal">Codigo postal</label>
						<input type="text" class="form-control" name="codpostal" id="codpostal" value="{{ persona.cod_postal }}"/>
					</div>
					
					<div class="col-md-6 form-group">
						<label for="dpto">Departamento</label>
						<input type="text" class="form-control" name="dpto" id="dpto" value="{{ persona.dpmto }}"/>
					</div>
			</fieldset>
			
			<fieldset><legend>Datos de la atención</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="prof">Profesional</label>
						<input type="text" class="form-control" id="prof" name="prof" placeholder="Nombre completo del profesional..." required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="desc">Descripción de la situación</label><br/>
					<textarea type="text" class="form-control" id="desc" name="desc" rows="5" placeholder="Describe la situacion.." required/></textarea>
				</div>
			</fieldset>

			<div class="row"><br><br>
				<div class="col-md-6">
					<input class="btn btn-block btn-success" type="submit" name="enviar" value="Generar atencion" />
				</div>
				<div class="col-md-6">
					<a href="../controllers/index.php"><input class="btn btn-block btn-default" type="button" name="cancelar" value="Cancelar" /></a>
				</div>
			</div>
				<input style="display:none" type="text" class="form-control" name="cod_serv" id="cod_serv" value="{{ persona.cod_serv }}"/>
		</form>
    </div>    
</div>
{% endblock %}
