	{# Este for tiene la información del socio titular #}
	
	{% for res in resultadoTitular %}
	        	
			    <p> Nombre del titular: {{ res['nombre'] }} </p>
			    <p> Número de documento del titular  : {{ res['numdoc'] }} </p>
			    <p> Número de beneficio del titular: {{ res['beneficio'] }} </p>
				<p> Número de socio: {{ res['numero_soc'] }} </p>
				<p>	ID persona del titular: {{ res['id_persona'] }} </p>
				<p>	Domicilio del titular: {{ res['domicilio'] }} </p>
				<p>	Fecha de nacimiento del titular: {{ res['fecnacim'] }} </p>
					
   {% endfor %}
   
   {# Este for tiene la información sobre el plan/planes del socio titular #}
   
   {% for res2 in resultadoTitularServicios1 %}
	        	
			    <p> Relación DEL TITULAR POR CUOTA: {{ res2['parentesco'] }} </p>
				<p> Plan DEL TITULAR POR CUOTA: {{ res2['nombre'] }} </p>
					
   {% endfor %}
   
   {% for res22 in resultadoTitularServicios2 %}
	        	
			    <p> Relación DEL TITULAR POR TARJETA: {{ res22['parentezco'] }} </p>
				<p> Plan DEL TITULAR POR TARJETA : {{ res22['nombre'] }} </p>
					
   {% endfor %}
   
   
   
   {# Este for tiene la información sobre el plan/planes de LOS ADHERENTES #}
   
   {% for res3 in resultadoAdherentes1 %}
	        	
			    <p> -------------------------------------------- </p>
				<p> Relación DEL ADHERENTE: {{ res3['parentesco'] }} </p>
				<p> Plan DEL ADHERENTE: {{ res3['nombre'] }} </p>
				<p> Número de socio DEL ADHERENTE: {{ res3['numero_soc'] }} </p>
				<p> Nro de beneficio DEL ADHERENTE: {{ res3['beneficio'] }} </p>
					
   {% endfor %}
   
   {% for res33 in resultadoAdherentes1Nombres %}
	        	
			    <p> -------------------------------------------- </p>
				<p> Nombre DEL ADHERENTE: {{ res33['nombre'] }} </p>
				<p> -------------------------------------------- </p>
					
   {% endfor %}
   
   {% for res4 in resultadoAdherentes2 %}
	        	
			    <p> Relación DEL ADHERENTE: {{ res4['parentezco'] }} </p>
				<p> Plan DEL ADHERENTE: {{ res4['nombre'] }} </p>
				<p> Número de socio DEL ADHERENTE: {{ res4['numero_soc'] }} </p>
				<p> Nro de beneficio DEL ADHERENTE: {{ res4['beneficio'] }} </p>
   {% endfor %}
   
   {% for res44 in resultadoAdherentes2Nombres %}
	        	
			    <p> -------------------------------------------- </p>
				<p> Nombre DEL ADHERENTE: {{ res44['nombre'] }} </p>
				<p> -------------------------------------------- </p>
					
   {% endfor %}