<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Menú</li>
            
            <li class="active treeview">
                <a href="../controllers/index.php">
                    <i class="fa fa-dashboard"></i> 
                    <span>Inicio</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Atenciones</span>
                    <span class="pull-right-container">
                      <span class="label label-primary pull-right">4</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../controllers/index.php"><i class="fa fa-circle-o"></i> Nueva Atención</a></li>
                    <li><a href="../controllers/listado_atencion.php?funcion=mostrarListado"><i class="fa fa-circle-o"></i> Listado Atenciones</a></li>
                </ul>
            </li>
            
            <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>Reportes</span>
                </a>
            </li>
        </ul>
    </section>
</aside>