<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Menú</li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Atenciones</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../controllers/index.php"><i class="fa fa-circle-o"></i> Nueva Atención</a></li>
                    <li><a href="../controllers/listado_atencion.php?funcion=mostrarListado"><i class="fa fa-circle-o"></i> Listado Atenciones</a></li>
                </ul>
            </li>
            
            <li>
                <a href="../controllers/reportes.php">
                    <i class="fa fa-th"></i> <span>Reportes</span>
                </a>
            </li>
            <li>
                <a href="../controllers/registrar.php">
                    <i class="fa fa-th"></i> <span>Registro de Usuarios</span>
            </li>
			<li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Estadisticas</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../controllers/estadisticas_cantatenciones.php"><i class="fa fa-circle-o"></i> Cantidad de atenciones</a></li>
                    <li><a href="../controllers/estadisticas_asociados.php"><i class="fa fa-circle-o"></i>Asociados que más atenciones solicitan</a></li>
					<li><a href="../controllers/estadisticas_horario.php"><i class="fa fa-circle-o"></i>Horario en que más atenciones se realizan</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>